[Unit]
Description=Marathon
After=mesos-slave.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
Environment=LIBPROCESS_IP={{ ansible_ssh_host }}
ExecStartPre=-/usr/bin/docker kill marathon
ExecStartPre=-/usr/bin/docker rm marathon
ExecStartPre=/usr/bin/docker pull {{ registry_config.hostname }}:{{ registry_config.port }}/{{ docker.images.marathon | basename }}
ExecStart=/usr/bin/sh -c "/usr/bin/docker run \
    --name marathon \
    --net=host \
    -p 8080:8080 \
    -p 9090:9090 \
    {{ registry_config.hostname }}:{{ registry_config.port }}/{{ docker.images.marathon | basename }} \
    --master {{ zookeeper.mesos_connection }} \
    --zk {{ zookeeper.marathon_connection }} \
    --checkpoint \
    --hostname {{ ansible_ssh_host }} \
    --event_subscriber http_callback"
ExecStop=/usr/bin/docker stop marathon

[Install]
WantedBy=multi-user.target